/* Import all CSS files */

/* Base styles */
@import "./base/reset.css";
@import "./base/variables.css";

/* Component styles */
@import "./components/typography/typography.css";
@import "./components/buttons/buttons.css";
@import "./components/forms/forms.css";
@import "./components/tables/tables.css";
@import "./components/dialogs/dialogs.css";
@import "./components/containers/containers.css";
@import "./components/menu/menu.css";

/* Layout styles */
@import "./layout/layout.css";

/* Utility styles */
@import "./utilities/spacing/spacing.css";
@import "./utilities/colors/colors.css";
@import "./utilities/display/display.css";
@import "./utilities/animations/animations.css";
